<div class="container-fluid css-page py-4">

  <div class="row">

    <!-- =====================================================
         AREA FORM COLUMN
    ====================================================== -->
    <div class="col-12 col-lg-7 col-xl-6 css-form-column">

      <div class="card css-card">

        <!-- =================================================
             HEADER
        ================================================== -->
        <div class="card-header css-header">

          <div class="header-content">

            <!-- LEFT SIDE -->
            <div class="header-left">

              <div class="header-icon">
                <i class="fa fa-building"></i>
              </div>

              <div class="header-text">

                <h5 class="css-title">
                  {{ areaData().AreaId <= 0 ? 'Add' : 'Edit' }} Area
                </h5>

                <div class="css-subtitle">
                  Manage area information
                </div>

              </div>

            </div>


            <!-- RIGHT SIDE -->
            <button
              type="button"
              class="btn btn-outline-primary btn-sm css-list-btn"
              (click)="arealist()">

              <i class="fa fa-list-ul"></i>

              <span>
                Area List
              </span>

            </button>

          </div>

        </div>


        <!-- =================================================
             CARD BODY
        ================================================== -->
        <div class="card-body css-body">

          <form #form="ngForm">

            <!-- =================================================
                 AREA DETAILS
            ================================================== -->
            <div class="form-section">


              <!-- =================================================
                   AREA FIELDS
              ================================================== -->
              <div class="row g-3">

                <!-- =================================================
                     AREA CODE
                ================================================== -->
                <div class="col-md-12">

                  <label class="form-label">
                    Area Code
                    <span class="required">*</span>
                  </label>

                  <input
                    type="text"
                    class="form-control"
                    #AreaCodeError="ngModel"
                    [(ngModel)]="areaData().AreaCode"
                    name="AreaCode"
                    placeholder="Enter code"
                    minlength="2"
                    maxlength="10"
                    style="width:30%"
                    required>

                  @if(AreaCodeError.errors?.['required']) {

                    <div class="validation-message">
                      Area Code is required
                    </div>

                  }
                  @else if(AreaCodeError.errors?.['minlength']) {

                    <div class="validation-message">
                      Minimum 2 characters required
                    </div>

                  }

                </div>


                <!-- =================================================
                     AREA NAME
                ================================================== -->
                <div class="col-md-12">

                  <label class="form-label">
                    Area Name
                    <span class="required">*</span>
                  </label>

                  <input
                    type="text"
                    class="form-control"
                    #AreaNameError="ngModel"
                    [(ngModel)]="areaData().AreaName"
                    name="AreaName"
                    placeholder="Enter area name"
                    minlength="3"
                    maxlength="50"
                    style="width:70%"
                    required>

                  @if(AreaNameError.errors?.['required']) {

                    <div class="validation-message">
                      Area Name is required
                    </div>

                  }
                  @else if(AreaNameError.errors?.['minlength']) {

                    <div class="validation-message">
                      Minimum 3 characters required
                    </div>

                  }

                </div>


                <!-- =================================================
                     STATE
                ================================================== -->
                <div class="col-md-6">

                  <label class="form-label">
                    State
                    <span class="required">*</span>
                  </label>

                  <div class="input-group css-input-group">

                    <span class="input-group-text">
                      <i class="fa-solid fa-location-dot"></i>
                    </span>

                    <select
                      class="form-select"
                      #StateNameError="ngModel"
                      [(ngModel)]="areaData().StateId"
                      name="StateId"
                      (change)="onStateChange()"
                      required>

                      <option value="0">
                        -- Select State --
                      </option>
                      
                      @for (item of states(); track $index) {
                        <option value="{{item.StateId}}">
                          {{item.StateName}}
                        </option>
                      }

                    </select>

                  </div>

                  @if(StateNameError.errors?.['required']) {

                    <div class="validation-message">
                      State is required
                    </div>

                  }

                </div>


                <!-- =================================================
                     CITY
                ================================================== -->
                <div class="col-md-6">

                  <label class="form-label">
                    City
                    <span class="required">*</span>
                  </label>

                  <div class="input-group css-input-group">

                    <span class="input-group-text">
                      <i class="fa-solid fa-location-dot"></i>
                    </span>

                    <select
                      class="form-select"
                      #CityNameError="ngModel"
                      [(ngModel)]="areaData().CityId"
                      name="CityId"
                      required>

                      <option value="0">
                        -- Select City --
                      </option>

                      @for (item of filteredCities(); track $index) {
                        <option value="{{item.CityId}}">
                          {{item.CityName}}
                        </option>
                      }
                    </select>

                  </div>

                  @if(CityNameError.errors?.['required']) {

                    <div class="validation-message">
                      City is required
                    </div>

                  }

                </div>

              </div>

            </div>


            <!-- =================================================
                 DIVIDER
            ================================================== -->
            <div class="section-divider"></div>


            <!-- =================================================
                 ACTION BUTTONS
            ================================================== -->
            <div class="action-container">

              <button
                type="button"
                class="btn btn-warning cancel-btn"
                (click)="arealist()">

                <i class="fa fa-close"></i>

                <span>
                  Cancel
                </span>

              </button>


              <button
                type="button"
                class="btn btn-primary save-btn"
                (click)="SaveArea(form)">

                <i class="fa fa-save"></i>

                <span>
                  {{ areaData().AreaId <= 0
                      ? 'Save Area'
                      : 'Update Area' }}
                </span>

              </button>

            </div>

          </form>

        </div>

      </div>

    </div>

  </div>

</div>